#wiki {
  width: 80em;
  margin: 0 auto;
}
.examples {
  margin: 1em;
}
input {
  height: 1.5em;
  font-size: 1.5em;
  width: calc(100% - 3em);
}
.korea {
  padding: 0 5px;
  height: 2.5em;
  vertical-align: bottom;
  cursor: pointer;
}
#hangul-keyboard.hidden {
  display: none;
}