[
  {
    "id": "1",
    "title": "Topic marking particle 은/는",
    "tags": [
      "particle",
      "topic"
    ],
    "source": "TTMIK Level 1 Lesson 9 p50",
    "details": "Topic marking particle 은/는. 'As for me...'",
    "examples": "저는 학생이에요\nAs for me, I'm a student\n\n내가 제일 잘 나가\nI am the best"
  },
  {
    "id": "2",
    "title": "Subject marking particle 이/가",
    "tags": [
      "particle",
      "object"
    ],
    "source": "TTMIK Level 1 Lesson 9 p50",
    "details": "Subject marking particle 이/가. The subject of the sentence. Usually the one performing an action on the object.",
    "examples": "내가 제일 잘 나가\nI am the best"
  },
  {
    "id": "3",
    "title": "Object marking particle 을/를",
    "tags": [
      "particle",
      "object"
    ],
    "source": "TTMIK Level 2 Lesson 2 p14",
    "details": "Object marking particle 을/를. That to which the action happens",
    "examples": "저는 학생이에요\nAs for me, I'm a student\n\n사과를 먹어요\nI'm eating an apple"
  }
]