[
  {
    "title": "Topic marking particle 은/는",
    "tags": [
      "particle",
      "topic"
    ],
    "source": "TTMIK Level 1 Lesson 9 p50",
    "details": "Topic marking particle 은/는. 'As for me...'",
    "examples": [
      {
        "ko": "저는 학생이에요",
        "en": "As for me, I'm a student"
      },
      {
        "ko": "내가 제일 잘 나가",
        "en": "I am the best"
      }
    ]
  },
  {
    "title": "Subject marking particle 이/가",
    "tags": [
      "particle",
      "object"
    ],
    "source": "TTMIK Level 1 Lesson 9 p50",
    "details": "Subject marking particle 이/가. The subject of the sentence. Usually the one performing an action on the object.",
    "examples": [
      {
        "ko": "내가 제일 잘 나가",
        "en": "I am the best"
      }
    ]
  },
  {
    "title": "Object marking particle 을/를",
    "tags": [
      "particle",
      "object"
    ],
    "source": "TTMIK Level 2 Lesson 2 p14",
    "details": "Object marking particle 을/를. That to which the action happens",
    "examples": [
      {
        "ko": "저는 학생이에요",
        "en": "As for me, I'm a student"
      },
      {
        "ko": "사과를 먹어요",
        "en": "I'm eating an apple"
      }
    ]
  }
]