[
  {
      "title": "Topic marking particle 은/는",
      "tags": ["particle"],
      "source": "TTMIK Level 1 Lesson 9 p50",
      "details": "Topic marking particle 은/는. 'As for me...'",
      "examples": [
        {
          "ko": "저는 학생이에요",
          "en": "As for me, I'm a student"
        },
        {
          "ko": "저는 학생이에요",
          "en": "As for me, I'm a student"
        }
      ]
  }
]
